@font-face {
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.ttf') format(truetype);
}
* {
    font-family: 'Minecraft';
}

a {
  color: #493628;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
    color: aquamarine;
}

@keyframes colorChange {
  0%   { background-color: red; }
  25%  { background-color: orange; }
  50%  { background-color: yellow; }
  75%  { background-color: limegreen; }
  100% { background-color: red; }
}

body {
    background-color: #CADABF;
    height: 2000px;
    animation: colorChange 1s infinite linear;
}

#header {
    text-align: center;
    background-color: #66785F;

    font-size: 5vw;
    color: #3B3B1A;

    border: 1px solid black;
    border-radius: 1in;
    padding: 1rem;
    
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#earthimg {
    float: left;
    width: 40%;
    height: 40%;
    transition: spin 0.6 ease-in-out;
}

#earthimg:hover {
    animation: spin 2s infinite linear;
    transform: scale(1.2);
}

.topper {
    background-color: #B2C9AD;
    border: 0.25rem solid #493628;
    border-radius: 2.25rem;
    overflow: auto;
    padding: 1rem;
}

.about {
    padding-left: 1rem;
    padding-top: 3rem;
}
.about h1 {
    font-size: 4vw;
}

.about h2 {
    font-size: 2.5vw;
}

.row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    padding-bottom: 2vw;
}

.row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.member {
    border: 0.25rem solid #493628;
    border-radius: 0.4rem;
    height: 12.5vw;
    width: 12.5vw;
    background-color: green;
    margin: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s cubic-bezier(0.25, 2, 1, 1), 
                box-shadow 0.3s ease, 
                background-color 0.3s ease;

}
@keyframes large{
    50%{width: 20vw; height: 14vw;}
    100%{width: 30vw; height: 15vw;}

}
.member:hover {
    color: aquamarine;
    margin-left: 5vw;
    transform: scale(1.5);
    animation: large 1s ease-in-out forwards;
}
